<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.jangak.alimi" android:versionCode="28" android:versionName="1.0.27">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:label="@string/app_name" android:icon="@mipmap/ic_launcher"
        android:allowBackup="false" android:hardwareAccelerated="true" android:usesCleartextTraffic="false"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PortalActivity" android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:windowSoftInputMode="adjustResize"/>
        <service android:name=".HyinJob" android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".WorkJob" android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>
